{% extends "layout.html" %}

{% block body %}
<br>
<div class="container is-fluid">
  <div class="columns is-multiline is-mobile">

    {% for s in sensors %}
    <div class="column is-3">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            {{ s.code }} - {{ s.name }} - {{ s.type }}
          </p>
          <a href="#" class="card-header-icon" aria-label="more options">
            <span class="icon">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </a>
        </header>
        <div class="card-content">
          <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
            <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </div>
        </div>
        <footer class="card-footer">
          <a href="{{ url_for('sensor.sensors_detail', code=s.code) }}" class="card-footer-item">View</a>
        </footer>
      </div>
    </div>
    {% endfor %}

  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='js/util.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/realtime.js') }}"></script>
{% endblock %}